<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>技法1 打发黄油</string>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>1.将黄油从冰箱冷藏室取出，放室温软化至可以轻松压出痕迹。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-1-1</string>
					<key>imageRect</key>
					<real>0.665</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>2.先开起电动打蛋器1挡（低速）将黄油打散，加入糖粉或细砂糖。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-2-1</string>
					<key>imageRect</key>
					<real>0.665</real>
				</dict>
				<dict>
					<key>image</key>
					<string>3-1-3-1</string>
					<key>imageRect</key>
					<real>1.333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>3.将糖油拌匀后，先开启打蛋器1挡（低速）将黄油及砂糖打匀，再转3挡（中速）搅打。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-4-1</string>
					<key>imageRect</key>
					<real>1.3333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>4.在搅打过程中，黄油会飞溅散布在盆边，这时要用橡皮刮刀将黄油刮起，集中到盆底才方便搅打均匀。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-5-1</string>
					<key>imageRect</key>
					<real>1.3333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>5.继续搅打，直至黄油色泽转为浅白色。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-6-1</string>
					<key>imageRect</key>
					<real>1.3333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>6.将室温鸡蛋液打散，分次少量地加入黄油中，将蛋液与黄油搅打均匀。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-7-1</string>
					<key>imageRect</key>
					<real>1.3333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>7.如此反复操作4次，直至蛋液都完全溶入黄油中，黄油呈光滑的乳膏状。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-1-8-1</string>
					<key>imageRect</key>
					<real>1.3333</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>8.黄油体积膨大，呈细腻、光滑的乳膏状，色泽呈浅白。</string>
			<key>images</key>
			<array/>
		</dict>
	</array>
	<array>
		<string>技法2 简易蛋糕制作要点</string>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>1.	鸡蛋5个从冰箱拿出来回温</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-1-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>2.把蛋黄跟蛋白分开装在两个干净干燥无油的盆里，鸡蛋可以逐个打在小碟子里再分。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-2-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>3.称出细砂糖的重量 </string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-3-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>4.20克放到蛋黄里 </string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-4-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>5.刚开始打的时候蛋白里加白醋，帮助蛋白稳定。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-5-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>6.细砂糖分三次加到蛋白里，把蛋白打至硬性发泡，就是蛋白用打蛋器挑起一个尖，吹一下尖会稍微弯曲就算蛋白打好了。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-6-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>7.蛋黄里加入食用油打至看不见油花 。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-7-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>8.再在蛋黄里加入牛奶继续搅打均匀。 </string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-8-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>9.在蛋黄液里筛入低粉跟红曲粉。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-9-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>10.把低粉跟蛋黄搅拌均匀。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-10-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>11.把蛋白霜分三次跟蛋黄糊混合均匀。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-11-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>12. 蛋糕糊拌好以后倒入铺了油纸的烤盘里7分满，烤箱预热160度，上下火30分钟。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-12-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
				<dict>
					<key>image</key>
					<string>3-2-12-2</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>13.蛋糕烘烤的过程，我们把淡奶油加细砂糖打发至蓬松细腻，然后放进冰箱冷藏保存。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-13-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>14.蛋糕出炉以后趁热撕下油纸翻面，等蛋糕微凉以后在中间抹上奶油。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-14-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
				<dict>
					<key>image</key>
					<string>3-2-14-2</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>15.然后把蛋糕卷卷起，再用油纸保住，放冰箱冷藏半个小时，再拿出来装饰一下就可以吃了。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-15-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
				<dict>
					<key>image</key>
					<string>3-2-15-2</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<string>技法3 蛋白打发法</string>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>蛋白打发法通常用来制作戚风蛋糕、分蛋海绵蛋糕、巧克力蛋糕等。蛋糕能够膨胀、松软的主要原因就在于鸡蛋的打发。鸡蛋的打发又分为两大类:蛋白打发、全蛋打发。蛋白含有一种减弱表面张力的蛋白质，将空气搅打进入后产生泡沫从而增加表面积;蛋白还含有一种黏性蛋白，能凝固而形成薄膜使打入的空气不至于外泄。蛋白打发有一定难度，适合有一定基拙的烘焙爱好者尝试。具体操作过程如下:</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-0-1</string>
					<key>imageRect</key>
					<real>0.84</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>1，将冷藏鸡蛋的蛋黄与蛋清分开，分别装在无水无  油的打蛋盆内。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-1-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>2，开始打发蛋白，首先在蛋白中加入少量塔塔粉，或是滴入几滴白醋。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-2-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>3，用电动打蛋器的1档(低速)，搅打约1分钟。打散的蛋液,呈现粗大的气泡{鱼眼泡}，此时加入1/3细砂糖。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-3-1</string>
					<key>imageRect</key>
					<real>0.6539</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>4，将电动打蛋器转至3档(中速)继续搅打。搅打约1分钟后.蛋白的气泡变得细小，体积膨胀至原来的2倍大小。此时提起打蛋头，蛋液无法粘在蛋头上，呈流水状，晃动打蛋盆仍可流动。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-4-1</string>
					<key>imageRect</key>
					<real>0.664</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>5，再加入1/3细砂糖.开启3档继续搅打。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-5-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>6，搅打约1分钟后，蛋白气泡变得更加细腻，有些微纹路。提起打蛋头，盆内的蛋白无法站立，打蛋头上的蛋液呈下垂状态。此时称为八分发(也称湿性发泡.适合制作轻乳酪蛋糕)。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-6-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>7，加入剩下的1/3细砂糖，继续用3档(中速)搅打。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-7-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>8，在搅打的过程中会发现蛋白液变得越来越硬挺，打蛋头经过的纹路也越来越细。提起打蛋头.打蛋头上的蛋液呈略长、略弯曲的状态。打蛋盆内的蛋液，可直立，尖峰向下略弯曲。此时就达到九分发(也称中性发泡，适合制作中空戚风蛋糕、蛋卷、巧克力蛋糕等)。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-3-8-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>9，继续用3档搅打约1分钟.提起打蛋头，打蛋头上的蛋液呈略短、直立的状态。打蛋盆内的蛋液可直立，尖峰短小。此时就达到十分发(也称硬性发泡.适合制作圆模戚风蛋糕、分蛋海绵蛋糕、蛋白饼等)。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-2-9-1</string>
					<key>imageRect</key>
					<real>0.662</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<string>技法4 全蛋打发法</string>
		<dict>
			<key>descriptions</key>
			<string>1.  准备材料，将鸡蛋敲入干净无水无油的大盆内。2.  将全部砂糖及蜂蜜加入鸡蛋中。3.   锅内注入1/2量的凉水，将打蛋盆放置在水上，开小火开始加温。(术语称隔水加温)      一边加温一边不断用手动打蛋器搅拌，直至蛋液和砂糖均匀混合。4.  当蛋液温度达至36度约人体温度时，端离热水，开始用电动打蛋器搅打。5.  开启打蛋器的3档（中速）搅打约1分钟，6.  搅打后的状态，气泡很大，蛋液的色泽是黄色，蛋液体积比原本（图4）略大少许。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-4-1-1</string>
					<key>imageRect</key>
					<real>0.6672</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>7．继续用3档搅打约1分钟，蛋液开始膨胀至2倍大（比较图6），此时的气泡变成中等大小，色泽仍然是黄色。提起打蛋头，蛋液马上滴落，无法形成连继的锻带形。8．继续用3档搅打约2分钟。9．此时的蛋液体积不再变大，但是气泡已经变的细小，色泽已开始慢慢转白。（比较图7）10．继续用3档搅打约3分钟。搅打的过程中，蛋液会起些微纹路。11．此时的蛋液体积不变，但是气泡变的非常细微，蛋液色泽变白。（比较图9）12．提起打蛋头，蛋液呈锻带形的，由上向下流落，落下的痕迹在5秒钟内才慢慢消失，这时的全蛋打发就完成了。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-4-2-1</string>
					<key>imageRect</key>
					<real>1.084</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-4-3-1</string>
					<key>imageRect</key>
					<real>1.084</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<string>技法5 打发鲜奶油</string>
		<dict>
			<key>descriptions</key>
			<string>1. 动物性鲜奶油打发前需放在冰箱冷藏12小时以上。只有温度足够低的鲜奶油，打发后才不会很快化掉，尤其是夏天。将鲜奶油倒入大碗里，根据个人口味加入细砂糖（参考加糖量：每100克鲜奶油加10克糖。若用植脂奶油，因本身含糖，不需要加糖）。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-0-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>2. 用电动打蛋器搅打鲜奶油。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-1-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>3. 随着搅打的过程，鲜奶油会变得越来越稠厚，体积也渐渐变大。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-2-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>4. 继续搅打</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-3-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>5. 鲜奶油会越来越稠厚</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-4-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>6. 搅打过程中打蛋器搅打出的纹路越来越清晰。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-5-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>7. 当搅打到出现清晰、硬挺的纹路时，就打发好了。打发后的体积明显增大。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-6-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>8. 提起打蛋头，会拉出硬挺的小尖角。</string>
			<key>name</key>
			<string></string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-5-7-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<string>技法6 面包制作流程</string>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>说面包难，除了制作时间长，也指操作步骤繁琐。其实基础的面包制作流程都是相似的，只要记住了这7个标准的面包步骤，不管面团怎么变化，配料和造型怎么丰富，道理都是一样的。所以，一起来了解一下面包的7个制作步骤吧。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-0-1</string>
					<key>imageRect</key>
					<real>1.376</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>面团搅拌就是揉面。在整个面包制作过程中，面团的搅拌是最基本的步骤，也是决定面包制作成败的第二大重点。具体内容参见前帖：面包面团怎么揉。</string>
			<key>name</key>
			<string>1.搅拌面团。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-1-1</string>
					<key>imageRect</key>
					<real>0.6657</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>发酵是决定面包成败的第一大重点，面团在基础醒发的过程中，面筋得到充分的氧化，使面团的延伸性更好。基础发酵对口感、柔软度已经形状等都会产生很大的影响。具体内容参见前帖：面包发酵那点事。</string>
			<key>name</key>
			<string>2.基础发酵</string>
			<key>images</key>
			<array/>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>发酵的好的面团，如果有很多大的气泡，需要轻轻的用手将这些气泡压出称为排气。也有些面团发酵的很均匀就可省略这一步。分割是根据配方需要将大面团分割成小分量的面团，通常一个小面包标准大小是60克，也可以分割成50克或40克一个。分割后的面团不能立即成型，必须要滚圆，也叫搓圆，通过滚圆使面团外表形成一层光滑表皮，利于保留新的气体而使面团再次膨胀。滚圆每个小面团还有利于在成型时面团的表面不会被粘连，使面包成品表皮光滑，内部组织也更加均匀。搓圆时尽可能不用干面粉，以免面包内部出现大空洞，搓圆时用力要均匀并迅速。</string>
			<key>name</key>
			<string>3.面团的排气、分割和滚圆</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-2-1</string>
					<key>imageRect</key>
					<real>2.02</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>有的配方也称为中间发酵，其实这个时间很短，大约十分钟。这个过程并不是要等面团发酵，而是让分割滚圆后的面团恢复柔软和弹性，便于接下来的整形，所以称为松弛更贴切。注意松弛的时可以放在室温，但要覆盖湿毛巾防止小面团变干表面结皮。</string>
			<key>name</key>
			<string>4.中间松弛</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-4-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>整形也叫成型，就是把经过中间松弛的面团做成需要的形状。圆形、橄榄型是比较常见的形状。更复杂的整形手法也花样繁多，但是对于初学者还需要多多练习，毕竟整形是否到位跟前几步骤的操作有密切的联系。</string>
			<key>name</key>
			<string>5.整形</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-5-1</string>
					<key>imageRect</key>
					<real>0.915</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string>最后发酵，又称二次饧发（以中间松弛不算发酵计算），或三次发酵（以中间松弛算做二次发酵计算）。把整型好的面团排入烤盘，不再移动位置，放入温暖湿润处发酵至原体积的1.5-1.8倍。最后发酵的理想温度为35度左右，湿度为75%。时间大约是30-45分钟。</string>
			<key>name</key>
			<string>6.最后发酵</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-6-6-1</string>
					<key>imageRect</key>
					<real>1.45</real>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<string>技法7 酥皮制作</string>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>材料：面粉（低筋面粉、中筋面粉、高筋面粉），水，细盐，黄油特殊用具：面粉筛，擀面杖，轮刀</string>
			<key>images</key>
			<array/>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>1.准备好原料</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-1-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>2.两种面粉、糖、盐，相混合。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-2-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>3.40克黄油软化后加入面粉中用手边拌边搓，成面包屑状。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-3-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>4.然后缓缓加入清水，揉成光滑的面团，包上保鲜膜入冰箱松弛半小时。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-4-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>5.把180克裹入用的黄油，平均分成4份，平铺着放入保鲜袋中排好。入冰箱冷藏片刻即可重新变硬。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-5-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>6.松弛好的面团取出，放在撒了少许薄粉的台面上擀成厚薄均匀的长方形面片。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-6-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>7.然后在面片中间放上冷藏后变硬的黄油片。（面片的长度为黄油的3倍，宽度稍比黄油宽一些） </string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-7-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>8.先把左边的面片往黄油上叠，再把右边的面片往上叠，排出里面的空气，让面片完全包裹住黄油。 </string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-8-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>9.把包好黄油的面片再次擀成较规则长方形。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-9-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>10.上下分别往中间对折。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-10-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>11.继续对折一下，成一个4折的面皮。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-11-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>12.折好的面皮包上保鲜膜入冰箱冷藏松弛30分钟。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-12-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>13.松弛好的面皮取出。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-13-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>14.再次擀成较为规则的长方形面片。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-14-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>15.分别从面片的两头平均往中间折叠。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-15-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>16.继续对折一下，完成第二次4折。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-16-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>17.接着重复13到16的步骤，完成第三次4折，此时千层酥皮就做好了，可以用来制作各种点心</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-17-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>descriptions</key>
			<string></string>
			<key>name</key>
			<string>18.如果做好的酥皮用不完或者是当时不用，可以在表面撒上少许干粉，卷起来入冰箱保存。</string>
			<key>images</key>
			<array>
				<dict>
					<key>image</key>
					<string>3-7-18-1</string>
					<key>imageRect</key>
					<real>0.722</real>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
